        <footer>
            <div class="row">
                <div class="medium-6 columns">
                    <ul class="menu float-right">
                        <li class="menu-text">Fake Auctions GmbH &amp; Co. KG</li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="/assets/boot.js"></script>
        <script src="/bids/socket.io.js"></script>
        <script src="/common.js"></script>
        <script>
            $(document).foundation();
        </script>