	<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {{#if item.title}}
        <title>{{item.title}}</title>
        {{else}}
        <title>Antagonist</title>
        {{/if}}
        <link rel="stylesheet" href="/assets/foundation.min.css">
        <link rel="stylesheet" href="/assets/antagonist.css">
        <link href='/assets/foundation-icons.css' rel='stylesheet' type='text/css'>
    </head>