                        <li><a class="login-switch">Login</a></li>
                        <li>
                            <input type="text" class='user-register username' placeholder="Username"/>
                        </li>
                        <li>
                            <input type="text" class='user-register password' placeholder="Login"/>
                        </li>
                        <li>
                            <input type="text" class='user-register avatarUrl' placeholder="avatarUrl"/>
                        </li>
                        <li><a class="button register-submit">Register</a></li>